# systemd/offers-bot.service
[Unit]
Description=NFT Offers Stats Bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/ubuntu/discord-bot
EnvironmentFile=/home/ubuntu/discord-bot/.env
ExecStart=/home/ubuntu/discord-bot/venv/bin/python bots/offers_bot.py

[Install]
WantedBy=multi-user.target